<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.WishListMapper">

	<!-- wishlist 추가 -->
	<insert id="addWishlist">
	    INSERT INTO wishlist (user_id, target_type, target_id, category_name, grade_name)
	    VALUES (#{userId}, #{targetType}, #{targetId}, #{mainCategory}, #{gradeTag})
	    ON CONFLICT (user_id, target_id, target_type) DO NOTHING
	</insert>
	
	<!-- wishlist 취소 -->
	<delete id="removeWishlist">
	    DELETE FROM wishlist
	    WHERE user_id = #{userId}
	      AND target_id = #{targetId}
	</delete>
	
	<!-- 사용자의 찜 여부 확인 -->
	<select id="existsInWishlist" resultType="boolean">
	    SELECT EXISTS (
	        SELECT 1
	        FROM wishlist
	        WHERE user_id = #{userId}
	          AND target_type = #{targetType}
	          AND target_id = #{targetId}
	    )
	</select>

    <resultMap id="WishlistResult" type="com.example.demo.dto.WishListResponseDTO">
        <result property="subCategories" column="subCategories"
                javaType="java.util.List"
                jdbcType="ARRAY"
                typeHandler="com.example.demo.typehandler.StringListTypeHandler"/>
    </resultMap>
	<!-- 사용자가 찜을 누른 위시리스트를 조회 -->
    <select id="findMyWishlistByUserId" resultMap="WishlistResult">
        (SELECT
            w.wishlist_id AS wishlistId,
            w.target_type AS targetType,
            w.target_id AS targetId,
            eh.hall_name AS title,
            eh.main_image_url AS mainImageUrl,
            eh.average_rating AS averageRating,
            eh.total_reviews AS totalReviews,
            w.created_at AS likedAt,
            CONCAT_WS(' ', eh.science_center_name, eh.hall_name) AS place,
            cmc.category_name AS mainCategory,
            gc.grade_name AS gradeTag,
            ARRAY_AGG(DISTINCT csc.sub_category_name) AS subCategories
        FROM wishlist w
                 JOIN exhibition_hall AS eh ON w.target_id = eh.hall_id
                 LEFT JOIN exhibition AS e ON e.hall_id = eh.hall_id
                 LEFT JOIN exhibition_curriculum_mapping AS ecm ON ecm.exhibition_id = e.exhibition_id
                 LEFT JOIN curriculum_sub_category AS csc ON csc.sub_category_id = ecm.sub_category_id
                 LEFT JOIN curriculum_main_category AS cmc ON cmc.main_category_id = csc.main_category_id
                 LEFT JOIN grade_category AS gc ON gc.grade_id = csc.grade_id
        WHERE
            w.user_id = #{userId}
          AND w.target_type = 'exhibition'
          AND cmc.category_name = w.category_name
          AND gc.grade_name = w.grade_name
        GROUP BY
            w.wishlist_id,
            eh.hall_id,
            cmc.category_name,
            gc.grade_name)
        UNION ALL
        (SELECT
            w.wishlist_id AS wishlistId,
            w.target_type AS targetType,
            w.target_id AS targetId,
            sp.place_name AS title,
            sp.main_image_url AS mainImageUrl,
            sp.average_rating AS averageRating,
            sp.total_reviews AS totalReviews,
            w.created_at AS likedAt,
            sp.address_detail AS place,
            cmc.category_name AS mainCategory,
            gc.grade_name AS gradeTag,
            ARRAY_AGG(DISTINCT csc.sub_category_name) AS subCategories
        FROM wishlist w
                 JOIN science_place sp ON w.target_id = sp.place_id
                 LEFT JOIN place_curriculum_mapping pcm ON sp.place_id = pcm.place_id
                 LEFT JOIN curriculum_sub_category csc ON csc.sub_category_id = pcm.sub_category_id
                 LEFT JOIN curriculum_main_category cmc ON cmc.main_category_id = csc.main_category_id
                 LEFT JOIN grade_category AS gc ON gc.grade_id = csc.grade_id
        WHERE w.user_id = #{userId}
          AND w.target_type = 'science_place'
          AND cmc.category_name = w.category_name
          AND gc.grade_name = w.grade_name
        GROUP BY
            w.wishlist_id,
            sp.place_id,
            cmc.category_name,
            gc.grade_name)
        ORDER BY
            likedAt DESC
    </select>
	
	
</mapper>