@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@font-face {
  /* 1. 폰트의 이름을 정합니다 */
  font-family: 'SUIT';

  /* 2. 폰트 파일의 경로를 알려줍니다 */
  /* main.css 파일 기준, ./fonts/ 안에 있는 파일을 가리킵니다. */
  src: url('./fonts/SUIT-Variable.ttf') format('ttf');
}
